<%= render partial: "/users/header" %>
<%= render partial: "/users/navbar" %>
<h2> Leaderboard! All the current users and their scores and position!<br> Try and find yourself!</h2>
<%= render partial: "/users/leaderboard" %>
