<%= render partial: "/users/header" %>
<h1>Welcome to vagabond by hoselike</h1>

<button class = "btn btn-material-yellow"><a href="/users/new">Sign Up</a></button>
<button class = "btn btn-material-yellow"><a href="/sign_in">Log In</a></button>