<h1>New Post</h1>
<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Post Title" %>
  </div>
  <div>
    <%= f.text_field :content, placeholder: "Your post here" %>
  </div>
  <div>
  </div>
  <%= f.submit "Submit" %>
<% end %> 