
body, .well {
	text-align: center;
}
.card {
	width: 60%;
	margin: 20px;
}

#map, .leader {
	margin: auto
}

.card-content {
	color:white;
}

th {
	text-align: center;
}

.tableHeader {
	text-align: center;
}
